<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" draggable="false" >
		<meta charset="utf-8" />

		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- 可选的Bootstrap主题文件（一般不使用） -->
		<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>-->

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="js/bootstrap.min.js"></script>
		<!--加载公共样式-->
		<link rel="stylesheet" type="text/css" href="css/location.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/publicAA.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/public_header_pc.css" />
		<!--首页样式-->
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<!--底部样式-->
		<link rel="stylesheet" type="text/css" href="css/footer.css" />
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript" src="js/footer.js"></script>
		<title>商脉科技首页</title>
	</head>

	<body>

		<!--头部-->
		<section class="box-header relative">
			<!--导航栏背景-->
			<section class="header-top-wrap absolute">
				<!--导航栏-->
				<header class="header-top">
					<!--logo-->
					<section class="fl logo">
						<a href="index.html">
							<img src="images/logo.png" alt="" height="60%" />
						</a>
					</section>
					<!--导航nav-->
					<section class="fr topnav">
						<section class="absolute closeX displaynone">
							<img src="images/closeX.png" alt="" />
						</section>
						<nav>
							<a href="index.html" class="active"><span class="active yispan">一</span><span class="phoneline">——</span>首页<span class="phoneline">——</span></a>
							<a href="javascript:"><span class="yispan">一</span><span class="phoneline">——</span>业务体系<span class="phoneline">——</span></a>
							<a href="outstandingWorkslist.html"><span class="yispan">一</span><span class="phoneline">——</span>优秀作品<span class="phoneline">——</span></a>
							<a href="peoplelist.html"><span class="yispan">一</span><span class="phoneline">——</span>人才共享<span class="phoneline">——</span></a>
							<a href="newslist.html"><span class="yispan">一</span><span class="phoneline">——</span>新闻动态<span class="phoneline">——</span></a>
							<a href="aboutus.html"><span class="yispan">一</span><span class="phoneline">——</span>关于我们<span class="phoneline">——</span></a>
						</nav>
					</section>
					<section class="phonenav fr">
						<img src="images/icon_phonenav.png" alt="" height="60%" />
					</section>
				</header>
			</section>

			<!--banner图-->
			<section class="banner">
				<img src="images/banner1.png" width="100%" />
			</section>
			<!--左右点击事件图标-->
			<section class="leftarr absolute">
				<img src="images/leftarrwhite.png" alt="" />
			</section>
			<section class="rightarr absolute">
				<img src="images/rightarrwhite.png" alt="" />
			</section>
			<!--头部主体内容-->
			<section class="top-main absolute">
				<!--文字内容 -->
				<section class="banner-text">
					<p>企业信息化运营专家</p>
					<p>ENTERPRISE INFORMATION MANAGEMENT EXPERTS</p>
					<p>互联网金融 · 全网营销 · 电商平台</p>
				</section>
				<section class="scroll">
					<img src="images/iconscroll.png" alt="" />
				</section>
				<!--点击图标-->
				<section class="tab absolute">
					<ul>
						<li class="liActive"></li>
						<li></li>
						<li></li>
					</ul>
				</section>
				<!--当前位置-->
				<section class="currentPositon absolute">
					<p>您当前所在的位置：
						<a href="index.html">首页</a>/
						<a href="aboutus.html">关于我们</a>
					</p>
				</section>
			</section>
		</section>

		<!--主体内容-->
		<section class="content">
			<!--关于商麦-->
			<section class="aboutshangmai">
				<section class="abouttext-wrap fl">
					<section class="texttitle">
						<h2>关于商麦</h2>
						<p>优秀的产品是优雅设计与精湛技术的完美结合</p>
					</section>
					<section class="textcontent">
						<p> 自成立以来，始终致力于为中国企业<span>特别是成长型企业</span>提供专业信息化服务，在川内率先开创了专属个性化定制模式，实现企业“信息化运营”。<span>商脉科技已成功为川内多家知名企业客户提供了全方位、多层面的信息化解决方案。</span></p>
						<p><span>公司服务涵盖了网站品牌策划、网络品牌优化与推广、网页创意设计、官方电子商城、微信营销平台、技术方案实施等。</span></p>
					</section>
					<section class="addmore">
						<img src="images/addmore.png" alt="" />
					</section>
				</section>
				<section class="aboutpic-wrap relative fr">
					<section class="absolute aboutinfo">
						<h2>成都商脉科技有限公司</h2>
						<p>四川商脉科技有限公司，位于成都市锦江区大型商圈内，<span>注册资金一千万（人民币），资金实力雄厚，</span>并拥有行业顶级的<span>自主研发设计</span>技术人才。</p>
					</section>
					<section class="aboutpic absolute">
						<section class="absolute">
							<img src="images/aboutpic1.png" alt="" />
						</section>
					</section>
				</section>
			</section>
			<div class="clear" style="padding-top: 2em;"></div>

			<!--业务体系-->
			<section class="service">
				<section class="servicetitle">
					<h2>业务体系</h2>
					<p>
						商脉专注于企业网络品牌规划<br /> 打造同一网站不同终端的统一视觉形象
					</p>
				</section>
				<section class="servicelist">
					<ul>
						<li>
							<section class="icon-web">
								<a href="web.html">
									<p>
										<img src="images/icon_web.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>网页设计</p>
							</section>
						</li>
						<li>
							<section class="icon-ui">
								<a href="UIsheji.html">
									<p>
										<img src="images/icon_ui.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>UI设计</p>
							</section>
						</li>
						<li>
							<section class="icon-planedesign">
								<a href="graphic.html">
									<p>
										<img src="images/icon_planedesign.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>平面设计</p>
							</section>
						</li>
						<li>
							<section class="icon-shopingcart">
								<a href="shopping.html">
									<p>
										<img src="images/icon_shopingcart.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>购物商城</p>
							</section>
						</li>
						<li>
							<section class="icon-webbuilding">
								<a href="websiteconstruction.html">
									<p>
										<img src="images/icon_web_building.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>网站建设</p>
							</section>
						</li>
						<li>
							<section class="icon-weichat">
								<a href="vx.html">
									<p>
										<img src="images/icon_weichat_development.png" alt="" />
									</p>
								</a>
							</section>
							<section>
								<p>微信开发</p>
							</section>
						</li>
					</ul>
				</section>
			</section>

			<!--优秀作品-->
			<section class="outstandingworks relative">
				<!--选项条-->
				<section class="outstandingworksNavWrap">
					<section class="outstandingworksNav fl">
						<ul>
							<li class="outstandingworksLiActive">ALL</li>
							<li>网页设计</li>
							<li>UI设计</li>
							<li>平面设计</li>
						</ul>
					</section>
					<section class="outstandingworksMore fr">
						<p>MORE</p>
					</section>
				</section>
				<section class="clear"></section>
				<!--优秀作品内容-->
				<section class="outstandingworksContentWrap">
					<ul>
						<li class="outstandingworksliActive">
							<section class="outstandingImg">
								<img src="images/outstandingworks1.png" alt="" />
							</section>
							<section class="outstandingText">
								<p>林氏木业·家居品牌营销网站</p>
							</section>
						</li>
						<li>
							<section class="outstandingImg">
								<img src="images/outstandingworks2.png" alt="" />
							</section>
							<section class="outstandingText">
								<p>绿天健·商城营销网站</p>
							</section>
						</li>
						<li>
							<section class="outstandingImg">
								<img src="images/outstandingworks3.png" alt="" />
							</section>
							<section class="outstandingText">
								<p>悦居·家居品牌企业网站</p>
							</section>
						</li>
					</ul>
				</section>
				<!--定位标题-->
				<section class="outstandingTitle absolute">
					<h2>优秀作品</h2>
					<p>我们足够优秀，每一次优秀都来源于<br />每一个好的case</p>
				</section>
				<!--定位左右点击按钮-->
				<section class="circleLeftArr absolute">
					<img src="images/circleLeftarr.png" alt="" />
				</section>
				<section class="circleRightArr absolute">
					<img src="images/circleRightarr.png" alt="" />
				</section>
			</section>

			<!--人才共享-->
			<section class="talentSharingWrap">
				<!--中间部分-->
				<section class="talentSharingCenterWrap">
					<!--标题-->
					<section class="talentSharingTitle">
						<h2>
							人才共享
						</h2>
						<p>
							力求团队思想与目标一致，让工作<br />的每一分钟都有效率
						</p>
					</section>
					<!--内容-->
					<section class="talentSharingContent">
						<ul class="relative">
							<li class="absolute">
								<img src="images/talentSharepic1.png" alt="" />
							</li>
							<li class="absolute relative">
								<img src="images/talentSharepic2.png" alt="" />
								<section class="talentShadow absolute">
									<p>冬阳<span><br /></span>Php工程师</p>
									<p>何莉<span><br /></span>UI设计师</p>
									<p>夏田<span><br /></span>iix插画师</p>
								</section>
							</li>
							<li class="absolute">
								<img src="images/talentSharepic3.png" alt="" />
							</li>
						</ul>

					</section>
					<!--tab-->
					<section class="talentTab">
						<ul>
							<li class="talentTabActive"></li>
							<li></li>
							<li></li>
						</ul>
					</section>
				</section>
			</section>

			<!--新闻动态-->
			<section class="newsWrap relative">
				<!--标题-->
				<section class="newsTitle absolute">
					<h2>新闻动态</h2>
					<p>最新行业资讯，最热门的设计新闻</p>
				</section>
				<!--选项条-->
				<section class="newsNavWrap">
					<section class="newsNav fl">
						<ul>
							<li class="newsLiActive">ALL</li>
							<li>公司动态</li>
							<li>行业动态</li>
						</ul>
					</section>
					<section class="newsMore fr">
						<p>MORE</p>
					</section>
				</section>
				<section class="clear"></section>
				<!--newsContent-->
				<section class="newsContent">
					<ul>
						<li class="relative">
							<section class="relative">
								<img src="images/newspic1.png" alt="" />
								<section class="absolute newsShadow"></section>
								<section class="newsTime absolute">
									<p>TIME:2017/09/09</p>
								</section>
							</section>
							<section class="newsText">
								<p>2017下半年你该如何规划<span>你的网站</span></p>
								<p>经过上半年的市场观察，成都商脉科技<span>有限公司跟您介绍下半年市场发展趋势</span>......</p>
							</section>
							<section class="newstextMore">
								<img class="pcMore" src="images/icon_circlemore.png" alt="" />
								<img class="phoneMore" src="images/icon_circlemore_phone.png" alt="" />
							</section>
						</li>
						<li class="relative">
							<section class="relative">
								<img src="images/newspic2.png" alt="" />
								<section class="absolute newsShadow"></section>
								<section class="newsTime absolute">
									<p>TIME:2017/09/08</p>
								</section>
							</section>
							<section class="newsText">
								<p>网页设计的十五个小技巧</p>
								<p>当用户浏览到你的页脚的时候，给他们一些<span>可做的事情。包括登记获得邮件通知</span>.....</p>
							</section>
							<section class="newstextMore">
								<img class="pcMore" src="images/icon_circlemore.png" alt="" />
								<img class="phoneMore" src="images/icon_circlemore_phone.png" alt="" />
							</section>
						</li>
						<li class="relative">
							<section class="relative">
								<img src="images/newspic3.png" alt="" />
								<section class="absolute newsShadow"></section>
								<section class="newsTime absolute">
									<p>TIME:2017/09/07</p>
								</section>
							</section>
							<section class="newsText">
								<p>带你走进UI设计的神奇世界</p>
								<p>交互设计师，简称IXD,交互设计师的工作内容就是设计软件的操作流程，树状结构......</p>
							</section>
							<section class="newstextMore">
								<img class="pcMore" src="images/icon_circlemore.png" alt="" />
								<img class="phoneMore" src="images/icon_circlemore_phone.png" alt="" />
							</section>
						</li>
					</ul>
				</section>
			</section>
			<section class="clear" style="height: 2em;"></section>
			
			<!--footer-->
			<footer class="container-fluid wrap">
				<!-- 提交 -->
				<section class="container-fluid box_top">
					<section class="container">
						<section class="advice fl">留下您的意见和建议:</section>
						<input type="text" class="advice_content fl" name="user_advice" value="">
						<button type="submit" class="button fl">提交</button>
					</section>
				</section>
				<section class="clear"></section>
				<!-- 黑色部分 -->
				<section class="container box_bottom">
					<section class="container-fluid fax">
						<ul>
							<li>
								<section class="pic">
									<a href="javascript:">
										<img src="images/footer/phone.png" alt="">
									</a>
								</section>
								<section class="bug">
									<section class="text">电话<span>:</span></section>
									<section class="whitebar"></section>
									<section class="number">13123567359</section>
								</section>
							</li>
							<li>
								<section class="pic">
									<a href="javascript:">
										<img src="images/footer/fax.png" alt="">
									</a>
								</section>
								<section class="bug" style="display:block">
									<section class="text">传真<span>:</span></section>
									<section class="whitebar"></section>
									<section class="number">028-3367357</section>
								</section>
							</li>
							<li>
								<section class="pic">
									<a href="javascript:">
										<img src="images/footer/qq.png" alt="">
									</a>
								</section>
								<section class="bug">
									<section class="text">QQ<span>:</span></section>
									<section class="whitebar"></section>
									<section class="number">121342190</section>
								</section>
							</li>
							<li>
								<section class="pic">
									<a href="javascript:">
										<img src="images/footer/email.png" alt="">
									</a>
								</section>
								<section class="bug">
									<section class="text">邮箱<span>:</span></section>
									<section class="whitebar"></section>
									<section class="number">121342190@qq.com</section>
								</section>
							</li>
							<li>
								<section class="pic">
									<a href="javascript:">
										<img src="images/footer/address.png" alt="">
									</a>
								</section>
								<section class="bug">
									<section class="text">地址<span>:</span></section>
									<section class="whitebar"></section>
									<section class="number">成都市锦江区东大街芷泉街229号</section>
								</section>
							</li>
						</ul>
					</section>
					<section class="container andbusiness">
						<section class="business">
							<a href="javascript:">业务体系</a>
							<a href="web.html">网页设计</a>
							<a href="UIsheji.html">UI设计</a>
							<a href="graphic.html">平面设计</a>
							<a href="website_construction.html">网站建设</a>
							<a href="shopping.html">购物商城</a>
							<a href="vx.html">微信开发</a>
						</section>
						<section class="aboutus">
							<a href="aboutus.html">关于我们</a>
							<a href="javascript:">关于我们</a>
							<a href="javascript:">加入我们</a>
							<a href="contact_us.html">联系我们</a>
						</section>
						<section class="weiChat">
							<img src="images/footer/qrCode.png" alt=""><br> 商脉微信公众号
						</section>
						<section class="official">
							<img src="images/footer/qrCode.png" alt=""><br> 商脉官方微博
						</section>
						<section class="clear"></section>
						<section class="container copyright">
							<p>版权归成都商脉科技有限公司所有</p>
						</section>
					</section>
				</section>
			</footer>
			
			<!--固定右边的定位选项-->
			<section id="location">
				<section class="contact_us">
					<img src="images/location/tele.png" alt="">
					联系我们
				</section>
				<section class="dwproduct">
					<img src="images/location/qq.png" alt="">
					QQ
				</section>
				<section class="returntop">
					<a href="#top"><img src="images/location/top.png" alt=""></a>
				</section>
			</section>
			
		</section>

	</body>

	<!--<script type="text/javascript">
		
		$('.servicelist ul li section:first-child').hover(function(){
			$('.servicelist ul li section:first-child p img').attr('src',"images/icon_planedesign.png");
			$(this).attr({background:"#4287d5"});
		});
	</script>-->
	<!--底部footer效果-->
	<!--<script type="text/javascript">	
	$(document).ready(function(){
		$('.fax ul li').mouseover(function(){
			var index = $(this).index();
			$('.bug').eq(index).show();
		});
		$('.fax ul li').mouseout(function(){
			var index = $(this).index();
			$('.bug').eq(index).hide();

		});
		// // 意见正则验证过滤脏话
		// var oInput = $('advice_content');
		// var exp = /草|原/g;
		// oInput.value = oInput.value.replace(exp,'*');
	});
	</script>-->
	
</html>