<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>人才共享内容页</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/public_header_pc.css" />
	<link rel="stylesheet" href="css/peoplemain.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1025px) and (min-device-width: 319px)" href="css/peoplemainphone.css" />
	<link rel="stylesheet" href="css/footer.css">
	<!-- <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 420px) and (min-device-width: 350px)" href="css/iPhone6.css"/>
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 350px) and (min-device-width: 300px)" href="css/iPhone5.css"/>
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 770px) and (min-device-width: 700px)" href="css/iPad.css"/> -->
	<link rel="stylesheet" href="css/location.css">
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/bootstrep.js"></script>
	<script type="text/javascript" src="js/header.js"></script>
</head>
<body>
<!-- 返回顶部的定位 -->
<a name="top"></a>
	<!--头部-->
	<header class="box-header relative">
		<!--导航栏背景-->
		<section class="header-top-wrap absolute">
			<!--导航栏-->
			<section class="header-top">
				<!--logo-->
				<section class="fl logo">
					<a href="index.html">
						<img src="images/logo.png" alt="" height="60%"/>
					</a>
				</section>
				<!--导航nav-->
				<section class="fr topnav">
					<section class="absolute closeX displaynone">
						<img src="images/closeX.png" alt="" />
					</section>
					<nav>
						<a href="index.html" class="active"><span class="active yispan">一</span><span class="phoneline">——</span>首页<span class="phoneline">——</span></a>
							<a href="javascript:"><span class="yispan">一</span><span class="phoneline">——</span>业务体系<span class="phoneline">——</span></a>
							<a href="outstandingWorkslist.html"><span class="yispan">一</span><span class="phoneline">——</span>优秀作品<span class="phoneline">——</span></a>
							<a href="peoplelist.html"><span class="yispan">一</span><span class="phoneline">——</span>人才共享<span class="phoneline">——</span></a>
							<a href="newslist.html"><span class="yispan">一</span><span class="phoneline">——</span>新闻动态<span class="phoneline">——</span></a>
							<a href="aboutus.html"><span class="yispan">一</span><span class="phoneline">——</span>关于我们<span class="phoneline">——</span></a>
					</nav>
				</section>
				<section class="phonenav fr">
					<img src="images/icon_phonenav.png" alt="" height="60%"/>	
				</section>
			</section>
		</section>
	</header>
	<section id="center" class="container-fluid">
		<!-- 轮播图 -->
		<section class="container-fluid banner">
			<!-- PC端图 -->
			<img src="images/peoplemain/banner.png" alt="" class="bannerimg">
			<!-- 手机页面图 -->
			<img src="images/peoplemain/banner1.png" alt="" class="bannerimg1">
			<img src="images/peoplemain/copy.png" alt="" class="copy">
		</section>
		<!-- 当前位置 -->
		<section class="container main">
			<p class="current">您当前所在的位置：首页/<a href=""><span>人才共享</span></a></p>
			<p class="title">商脉优秀设计师——岑双华</p>
			<!-- 简介 -->
			<section class="container-fluid introduction">
			<!-- 右边图 -->
				<section>
					<img src="images/peoplemain/zuopin.png" alt="" class="zuop">
					<img src="images/peoplemain/zuopin1.png" alt="" class="zuop1">
					<p class="shuoming">岑双华优秀作品</p>
					<section class="clear"></section>
					<!-- 右下图 -->
					<section class="DZIXY">
						<img src="images/peoplemain/zuopin2.png" alt="">
						<p>DZIXY品牌VI设计</p>
						<p>奉行匠心精神及完美主义，打造的每一个产品都以生命的态度在雕琢.</p>
					</section>
				</section>
				<p class="introductiontitle">【简介】</p>
				<p>大家好，我是岑双华， 很感谢商脉给了我展示和交流的机会。</p>
				<p>大学专业是投资理财，后面发现自己并不感兴趣最后选择了电商，从事电商已经快3年了，做过美工，开过工作室，喜欢五月天、摄影、篮球。</p>
				<p class="none">2015年毕业去了一家车品做美工，16年初遇瓶颈，辞职深造，业精于勤荒于嬉，努力只是为了把自己价值最大化，从基础理论到技法提高。</p>
				<p class="none">16年初和朋友开了个小工作室，其实蛮庆幸当初的坚持才有了今天的进步。</p>
				<p class="none">从此以后夜以继日地工作，遇到量大的时候一个星期都不出门，整天在家做图。痛并快乐着，虽然很累但是接触到不同类型的设计，水平逐渐上去。</p>
				<p>目前就职于这里，希望以后能有更好的作品和大家分享。</p>
			</section>
			<!-- 对话 -->
			<section class="container-fluid dialogue">
				<p class="dialoguetitle">【对话】</p>
				<p>商脉：对于电商类项目的布局、细节和配色这三个方面有什么经验可以分享？</p>
				<p>电商类项目最终卖的是产品，无论是高大上还是怎么的，只要你能迅速抓住客户的眼球，把该展示的卖点通过精心的设计，清晰简单地表现出来，最终促成交易，那么这就是好的设计。视觉在电商上只是锦上添花，产品才是核心。Don't make me think. 让客户进入到你的页面后不会有任何疑惑，不要让他们猜测任何一个元素存在的目的。</p>
				<p>商脉：一般的项目，您的设计流程是怎样的？</p>
				<p>接到需求先和客户沟通，大致了解过后便开始构思整个页面，也就是参考、收集、整合的过程，接着出个框架给客户确定风格，关于视觉呈现，只能说“All roads lead to Rome”表现手法各种各样，可以手绘、可以建模、也可以摄影合成，不管怎样细节到位、贴合主题让客户满意才是我们的最终目的。</p>
				<p class="none">商脉：您现阶段比较喜欢哪种风格或类型的作品？</p>
				<p class="none">目前来说并没有明确喜好哪种类型的作品，摄影、插画、平面、三维影视等等都有接触。殊途同归，其实只要是好的作品都会给我们带来不同程度的惊叹以及感悟，细心品味确实会发现作者的良苦用心。</p>
			</section>
			<!-- 作品 -->
			<section class="container-fluid boxbox">
				<p>【作品】</p>
				<section class="container picbox">
					<ul class="piclist mainlist">
						<li>
							<img src="images/peoplemain/works1.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
						<li>
							<img src="images/peoplemain/works2.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
						<li class="three">
							<img src="images/peoplemain/works3.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
						<li class="two">
							<img src="images/peoplemain/works1.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
						<li class="two">
							<img src="images/peoplemain/works2.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
						<li class="three">
							<img src="images/peoplemain/works3.png" alt="">
							<section>we3网页设计/企业官网</section>
						</li>
					</ul>
					<ul class="piclist swaplist"></ul>
					<img src="images/peoplemain/zuo.png" alt="" class="og_prev">
					<img src="images/peoplemain/you.png" alt="" class="og_next">
				</section>
			</section>
		</section>
		<section class="container flip">
			<section class="pev">
				上一篇：<a href="javascript:"><span>优秀设计师——袁康</span></a>
			</section>
			<section class="next">
				下一篇：<a href="javascript:"><span>优秀设计师——张雯琳</span></a>
			</section>
		</section>
	</section>
	<!-- 底部 -->
	{include file="public/footer" /}
	<!-- 定位 -->
	{include file="public/location" /}
	</section>
</body>
<script type="text/javascript" src="js/peoplemain.js"></script>
<script type="text/javascript">	
	var windowWidth = $(window).width();
	if(windowWidth > 770){
		$('.fax ul li').mouseover(function(){
			var index = $(this).index();
			$('.bug').eq(index).show();
		});
		$('.fax ul li').mouseout(function(){
			var index = $(this).index();
			$('.bug').eq(index).hide();
		});
	}
</script>
<script type="text/javascript" src="js/juheweb.js"></script>
</html>