<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>新闻内容页</title>
	<link rel="stylesheet" href="__CSS__/bootstrap.css">
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/public_header_pc.css">
	<link rel="stylesheet" href="__CSS__/bootstrap.css">
	<script type="text/javascript" src="__JS__/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="__CSS__/news_page.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/dingwei.css">
	<link rel="stylesheet" type="text/css" media="screen and (min-device-width:320px)and (max-device-width:414px)" href="__CSS__/news_phone.css" />
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width:375px)" href="__CSS__/news_phone6.css" />	
	<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)and (max-device-width:1024px)" href="__CSS__/news_ipad.css" />
	<script type="text.javasceript" src="__JS__/bootstrap.min.js"></script>
</head>
<body>
    <section class="contain-fluid" id="box">
     <!--头部-->
			<section class="box-header relative">
				<!--导航栏背景-->
				<section class="header-top-wrap absolute">
					<!--导航栏-->
					<header class="header-top">
						<!--logo-->
						<section class="fl logo">
							<a href="index.html">
								<img src="__IMG__/logo.png" alt="" height="60%"/>
							</a>
						</section>
						<!--导航nav-->
						<section class="fr topnav">
							<section class="absolute closeX displaynone">
								<img src="__IMG__/closeX.png" alt="" />
							</section>
							<nav>
								<a href="index.html" class="active"><span class="active yispan">一</span><span class="phoneline">——</span>首页<span class="phoneline">——</span></a>
								<a href="javascript:"><span class="yispan">一</span><span class="phoneline">——</span>业务体系<span class="phoneline">——</span></a>
								<a href="outstandingWorkslist.html"><span class="yispan">一</span><span class="phoneline">——</span>优秀作品<span class="phoneline">——</span></a>
								<a href="peoplelist.html"><span class="yispan">一</span><span class="phoneline">——</span>人才共享<span class="phoneline">——</span></a>
								<a href="newslist.html"><span class="yispan">一</span><span class="phoneline">——</span>新闻动态<span class="phoneline">——</span></a>
								<a href="aboutus.html"><span class="yispan">一</span><span class="phoneline">——</span>关于我们<span class="phoneline">——</span></a>
							</nav>
						</section>
						<section class="phonenav fr">
							<img src="__IMG__/icon_phonenav.png" alt="" height="60%"/>	
						</section>
					</header>
				</section>	
				<!--banner图-->
				<section class="banner">
					<img src="__IMG__/news_page/banner.png" width="100%" />
					<section class="banner_wenzi">
						<img src="__IMG__/news_page/banner_wenzi.png" alt="">
					</section>
				</section>
				<!--头部主体内容-->
				<section class="top-main absolute">
					<!--当前位置-->
					<section class="currentPositon absolute">
						<p>您当前所在的位置：<a href="index.html">首页</a>/<a href="aboutus.html">新闻动态</a></p>
					</section>
				</section>
			</section><!--头部-->
				<div class="clear"></div>
         <!-- 主要内容 -->
      	<section id="main" class="container">
      	<!-- 三大运营商 -->
      		<section class="contain-fluid three_operators">
				三大运营商投入重兵布局 物联网将是下一个风口
      		</section>
      		<!-- 继Pc后 -->
      		<section class="contain-fluid pc">
      			<section class="pc_left">
      				<img src="__IMG__/news_page/tu1.png" alt="">
      			</section>
      			<section class="right_top">
      			   继 PC、互联网、移动互联网之后，下一个风口在哪儿？答案恐怕非物联网莫属。 <p>正在上海举行的世界移动通信大会上，你随处都可以看到物联网的身影。重点是它们不仅仅是展示，而是已具备商用的能力，<span>部分地区甚至已经试商用。</span></p>
      			</section>
      			<section class="right_bottom">
      				从基础连接的电信运营商、平台解决方案的设备商、芯片模组的组装工厂以及C端的终端厂商和应用开发商，他们的产品都正在趋于成熟。可以说，物联网已经从前期的市场培育期进入到快速发展的阶段。<p>数据显示，2017 年全球物联网市场规模将达到 4500 亿美元，2018 年有望超过 1.9 万亿元。到 2020 年，全球物联网终端数量将达到 260 亿台。加上包括大量的资本涌入，物联网的风口已经来了。</p>
      			</section>
      		</section>
      		<section class="clean"></section>
      		<!-- 运营商战略之重 -->
      		<section class="contain-fluid pc_bottom">
      				<section class="bottom_leftt">
      					<section class="yunying">
      					   <span>运营商战略之重</span>
      					   <p>许久没有看到三大运营商同台竞技，这次因为物联网他们又拉开了架势，投入重兵布局并列为未来战略之重。</p>
      					</section>
      				</section>
      				<!-- 移动计划 -->
      				<section class="yidong">  中国移动副总裁沙跃家表示，中国移动计划在 2020 年实现全网连接数量超过 17.5 亿，并且成为数字化创新的全球领先运营商。
      				</section>
      				<!-- 今年前五个月 -->
      				<section class="year">
      					今年前 5 个月的物联网连接数增量已达到去年全年水平，保持了高速增长的态势；连接数占比较大的领域包括车联网、智能单车、金融、能源和可穿戴设备等。”沙跃家透露的数据显示。
      				</section>
      				<section class="ljie">
      					 据了解，截至 5 月底，中国移动物联网连接数已经突破 1.2 亿，是全球最大的物联网连接提供商；同时，中国移动承载物联网基站数超 162 万，月承载流量已超过 2000TB。
      				</section>
      				<!-- 物联网 -->
      				<section class="wulianwang">
      					物联网不仅仅会改变传统企业的技术、商业模式，也会影响到互联网企业，拥有庞大用户的 BAT 也在拥抱物联网，主要集中在基于大数据、人工智能方面的应用研究上，属于消费级物联网市场。<p>不过，分析人士指出，BAT 做物联网都是在利用自身基因发展，阿里的优势是电商基因，腾讯和百度则各以发挥社交和 AI 基因为切入方向。但就行业整体而言，技术应用和商业落地是否真正从市场刚需出发而非瞄准伪需求，仍对厂商形成考验。</p>
      				</section>
      				<!-- 运营战略图 -->
      				<section class="bottom_right">
      					<img src="__IMG__/news_page/tu2.png" alt="">
      				</section>
      				<!-- 矩形框 Operator strategy-->
      				<section class="juxingg">
      		  	     Operator strategy
      		  	  </section>
      		</section>
      		<!-- 上下篇 -->
      			<section  class="page">
	      		  	<ul>
		      		  	<li class="up_page"><a href="#">上一篇：<span>不止招行一家 乐视
		      		  	</a></span></li>
		      		    <li class="down_page"><a href="#">上一篇：盖茨18年前预言实现了</a></li>
	      		  	</ul>
	      		    <section class="clear"></section>
      		  	</section>
      	</section><!--main-->
 {include file='public/footer'}
	<!-- 固定定位 -->
	<section id="location">
		<section class="contact_us">
			<img src="__IMG__/tele.png" alt="">
			联系我们
		</section>
		<section class="dwproduct">
			<img src="__IMG__/qq.png" alt="">
			QQ
		</section>
		<section class="returntop">
			<a href="#top"><img src="__IMG__/top.png" alt=""></a>
		</section>
	</section>
</section><!--box-->
</body>
<script type="text/javascript" src="__JS__/header.js"></script>
<script type="text/javascript">	
	var windowWidth = $(window).width();
	if(windowWidth > 770){
		$('.fax ul li').mouseover(function(){
			var index = $(this).index();
			$('.bug').eq(index).show();
		});
		$('.fax ul li').mouseout(function(){
			var index = $(this).index();
			$('.bug').eq(index).hide();
		});
	}
</script>
</html>